<app-header (featureSelected)="onNavigate($event)"></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
      <app-shopping-list *ngIf="loadedFeature !== 'recipe'"></app-shopping-list>
    </div>
  </div>
</div>






<!-- x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x -->
<!-- <p>
  current theme {{ selectedTheme }}
 </p>

 <button (click)="changeTheme('dark')">Dark Theme</button>
 <button (click)="changeTheme('light')">Light Theme</button>
 <button (click)="changeTheme('colorful')">Colorful Theme</button> -->
